@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  canvas {
    cursor: none;
  }

  body {
    @apply bg-gray-200 text-gray-700;
  }
}

@layer components {
  .cursor {
    position: fixed;
    pointer-events: none;
    z-index: 100;
    background-color: #11ffee00;
  }

  .btn {
    @apply flex justify-center items-center  w-12 h-12 text-4xl bg-gray-800 hover:bg-gray-600;
  }

  .tooltip-arrow {
    @apply border-gray-600;
    position: absolute;
    left: -1rem;
    top: 50%;
    width: 0;
    height: 0;
    border: 0.5rem solid hsla(330, 70%, 98%, 1);
    /* border-top-color: hsla(330, 70%, 98%, 1); */
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }

  .card {
    @apply flex items-center gap-16 bg-gray-900 py-8 px-12 rounded-lg shadow-2xl;
  }

  .team-card {
    @apply flex flex-col items-center text-center bg-true-gray-200 px-8 py-4 rounded-2xl shadow-lg w-60;
  }
}
