@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media screen and (min-width: 640px) {
    canvas {
      cursor: none;
    }
  }

  body {
    @apply bg-gray-200 text-gray-700;
  }
}

@layer components {
  .cursor {
    position: fixed;
    pointer-events: none;
    z-index: 100;
    background-color: #11ffee00;
  }

  .btn {
    @apply flex flex-col justify-center items-center  w-12 h-12 bg-gray-800 hover:bg-gray-600;
  }

  .tooltip {
    @apply invisible group-hover:visible absolute top-2 left-14 min-w-max
    transform  z-10 
    px-2 py-1 bg-black text-white 
    flex justify-center items-center 
    rounded-sm capitalize;
  }

  .tooltip-arrow {
    position: absolute;
    right: 100%;
    color: white;
    width: 0;
    height: 0;
    border: 0.5rem solid #000;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-right-color: #000;
  }

  .card {
    @apply flex flex-col sm:flex-row items-center gap-16 bg-gray-300 text-gray-500 mx-4 py-8 px-12 rounded-lg shadow-2xl;
  }

  .image {
    @apply w-80 h-64 bg-gray-700;
  }

  .team-card {
    @apply flex flex-col items-center text-center bg-true-gray-200 px-8 py-4 rounded-2xl shadow-lg w-60;
  }

  .link {
    @apply font-semibold border-b-2 hover:border-pink-400 text-pink-400 transition-all border-transparent;
  }
}
