@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  canvas {
    cursor: none;
  }
}

@layer components {
  .cursor {
    position: fixed;
    pointer-events: none;
    z-index: 100;
  }
  .round {
    border-radius: 100%;
  }

  .square {
    border-radius: 0;
  }

  .tooltip-arrow {
    @apply border-gray-600;
    position: absolute;
    left: -1rem;
    top: 50%;
    width: 0;
    height: 0;
    border: 0.5rem solid hsla(330, 70%, 98%, 1);
    /* border-top-color: hsla(330, 70%, 98%, 1); */
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}
